/* Body styles */

body {
	font-family: american typewriter, verdana;
	margin: 0px;
	color: grey;
	font-size: 22px;
}

/* Navigation styling */

nav ul {
	text-align: center;
	margin: 5 px auto 5 px auto;
}

nav li {
	display: inline-block;
	width: 120px;
	text-align: center;
}

/* Lead image styling */
img.leadimage {
	width: 100%;
	height: 100%;
	display: block;
}

.leadblock {
	width:700px;
	height:500px;
	margin-left: auto;
	margin-right: auto;
	border: 5px red solid;
}

/* text box */
#copybox {
	margin-left: 10%;
	margin-right: 10%;
	border: 5px red solid;
}

/* Link Button style */
.linkbutton {
	width: 120px;
	height: 32px;
	border: 3px solid grey;
	transition: all 0.5s linear;
	background-color: white;
	color:grey;
	text-align: center;
	display: inline-block;
}

a.linkbutton:link, a.linkbutton:active, a.linkbutton:visited {
	text-decoration: none;
}

a.linkbutton:hover {
	background-color: grey;
	color: white;
}
}